@model HospitalProyect.Models.StaffModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>StaffModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StaffCategoryId" class="control-label"></label>
                <select asp-for="StaffCategoryId" class="form-control" asp-items="@ViewBag.StaffCategories">
                    <option value="" selected>Seleccionar...</option>
                </select>
                <span asp-validation-for="StaffCategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpecialtyId" class="control-label"></label>
                <select asp-for="SpecialtyId" class="form-control" asp-items="@ViewBag.Specialties">
                    <option value="" selected="@(Model.SpecialtyId == null)">Seleccionar...</option>
                </select>
                <span asp-validation-for="SpecialtyId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Fotografia Actual</label>
                <div>
                    @if (!string.IsNullOrEmpty(Model.PhotoUrl))
                    {
                        <img src="@Model.PhotoUrl" alt="Foto de @Model.FirstName @Model.LastName" class="img-thumbnail" style="max-width: 200px; margin-bottom: 10px; border-radius: 5px;" />
                    }
                    else
                    {
                        <p>No hay fotografía disponible.</p>
                    }
                </div>

                <label asp-for="PhotoFile" class="control-label">Actualizar Fotografia (Opcional)</label>
                <input asp-for="PhotoFile" type="file" class="form-control" accept="images/*" />
                <span asp-validation-for="PhotoFile" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="HireDate" class="control-label"></label>
                <input asp-for="HireDate" class="form-control" />
                <span asp-validation-for="HireDate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
